
@{
    ViewBag.Title = "Đặt hàng thành công";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="breadcrumb-area pt-205 pb-210" style="background-image: url(/Content/img/bg/1903x500-regfix.jpg)">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <h2>Đặt hàng thành công</h2>
            <ul>
                <li><a href="#">Giỏ hàng</a></li>
                <li> Thanh toán </li>
            </ul>
        </div>
    </div>
</div>
<div class="breadcrumb-area pt-205 pb-210">
    <div class="container">
        <h2>Đặt hàng thành công !</h2>
    </div>
    </div>

